# Indexing

In [2]:
#make a string
a='samosa pakora'
a

'samosa pakora'

In [3]:
a[0]

's'

In [4]:
a[2]

'm'

In [5]:
#length of indexes
len(a)

13

In [6]:
a[6]

' '

In [7]:
a[0:5]

'samos'

In [8]:
#last undex is exclucive
a[0:6]

'samosa'

In [9]:
a[-1]

'a'

In [10]:
a[-6:-1]

'pakor'

In [11]:
a[-6:13]

'pakora'

In [12]:
food = 'Baryani'
food

'Baryani'

# String methods

In [13]:
food

'Baryani'

In [14]:
len(food)

7

In [16]:
food.capitalize()

'Baryani'

In [17]:
food.lower()

'baryani'

In [18]:
food.title()

'Baryani'

In [20]:
food.replace("B","sh")

'sharyani'

In [21]:
#c ounting a specific alphabet in a string
name='learning with aammar'
name

'learning with aammar'

In [22]:
name.count('a')

4

In [24]:
name.count('aa')

1

### - finding index number of string

In [25]:
name='learning with aammar'
name

'learning with aammar'

In [26]:
name.find('w')

9

## how to split a string

In [29]:
food = 'I love samosa, pakora, raita, biryani and karahi'
food

'I love samosa, pakora, raita, biryani and karahi'

In [30]:
food.split(",")

['I love samosa', ' pakora', ' raita', ' biryani and karahi']

#  - Basic data structure in python

### tuple
### list
### dictonaries
### Set

### 1-Tuple
.order collection of elements

.enclosed in()round braces/paranthesis

.Different kind of elements can be stored

.Once elements are stored you can not cheange them

In [32]:
tupl = (1,"python",True,2.5)
tupl

(1, 'python', True, 2.5)

In [33]:
type(tupl)

tuple

### -Indexing in tuple

In [34]:
tupl[1]

'python'

In [35]:
tupl[3]

2.5

In [36]:
tupl[0:3]

(1, 'python', True)

In [37]:
len(tupl)

4

In [39]:
tup2=(2,'False',99)
tup2

(2, 'False', 99)

In [40]:
tupl*2 + tup2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'False', 99)

In [42]:
tup3=(20,50,33,66)
tup3

(20, 50, 33, 66)

In [43]:
min(tup3)

20

In [44]:
max(tup3)

66

In [45]:
tup3*2

(20, 50, 33, 66, 20, 50, 33, 66)

## 3-Dictonaries

1. An unordered collection of elements
2. key and value
3. curly braces or brackets
4. muteable/ change values

In [48]:
d1={"samosa":30, "pakora":20}
d1

{'samosa': 30, 'pakora': 20}

In [49]:
d2 ={'dates':50,'chicken':400}
d2

{'dates': 50, 'chicken': 400}

In [52]:
d1.update(d2)

In [53]:
d1

{'samosa': 30, 'pakora': 20, 'dates': 50, 'chicken': 400}

## 4-Set

1. unordered and unindexed
2. curly braces are used{}
3. No duplicates allowed

In [57]:
s1 = {1,3,5,5,4,'aamar', 'codanics', 'faisalabad', True}
s1

{1, 3, 4, 5, 'aamar', 'codanics', 'faisalabad'}

In [60]:
s1.add('aamar1')

In [61]:
s1

{1, 3, 4, 5, 'aamar', 'aamar1', 'codanics', 'faisalabad'}

In [62]:
s1.remove('aamar')

In [63]:
s1

{1, 3, 4, 5, 'aamar1', 'codanics', 'faisalabad'}

In [65]:
s1.pop()

1